<mat-toolbar color="primary">
  <span>
    <a routerLink="/">
      <i aria-hidden="false" aria-label="Home icon" class="fa-solid fa-home"></i>
      <span class="ml-2 inline">Jack Schaible's Profile</span>
    </a>
  </span>

  <span class="spacer"></span>

  <a href="https://github.com/JackSchaible/Profile" target="_blank" rel="noreferrer" class="mx-2">
    <i aria-hidden="false" aria-label="GitHub icon" class="fa-brands fa-github"></i>
  </a>

  <a href="https://www.linkedin.com/in/jack-schaible-352a1631/" target="_blank" rel="noreferrer" class="ml-2">
    <i aria-hidden="false" aria-label="LinkedIn icon" class="fa-brands fa-linkedin"></i>
  </a>
</mat-toolbar>

<div class="bg bg-no-repeat bg-cover bg-center pt-96"></div>
<main>
  <mat-card class="mx-auto w-6/12">
    <img src="assets/images/Profile.jpg" alt="Jack Schaible" class="ring-4 ring-sky-300 rounded-circle mx-auto" />
    <p class="text-center text-4xl mt-5">Jack Schaible, Software Developer</p>
    <p class="text-center mx-6 my-3">
      Hello there! I'm Jack, a seasoned Software Developer with {{ yearsOfExperience }} years of experience coding in
      diverse industries, from energy to automotive, sales support, and even film production. I'm skilled in various
      programming languages and technologies, such as C#, TypeScript, React, and SQL, with a background in AWS and
      containerization. My career highlight includes building comprehensive web applications for Laika that interfaced
      with ShotGrid, streamlining film production workflows and boosting operational efficiency. But my passion doesn't
      stop at coding - I'm an avid gamer, and I even lead weekly D&D games. In this digital realm, I blend technical
      proficiency with creativity to develop robust, effective software solutions. So, whether you're here for
      professional reasons or just to geek out over games, welcome!
    </p>
  </mat-card>
</main>
